*  {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #525252;
}


nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #222;
  color:#FFF;
  height: 90px;
}
.nav--logo{
  width: 100%;
  max-width: 70px;
  margin:0 20px ;
}

.nav h1, nav h2 {
  margin: auto;
}

.nav--logo_text{
  font-size: 30px;
  color: #61DAFB;
}
.nav--title{
  margin-right: 20px;
  font-size: 20px;
}

.main-section{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
  color:#FFF;
  padding-top: 40px;
}
.main-section ul li{
  padding: 5px 0;
  font-size: 18px;
}

.main-section ul li::marker{
  color:#61DAFB;
  padding: 5px 0;
  font-size: 18px;
}